/* here you can put your own css to customize and override the theme */
.asc.active-sort:after,
.desc.active-sort:after {
  border-top-color: #000;
  border-bottom-color: transparent; }

.asc.active-sort:after {
  border-top-color: transparent;
  border-bottom-color: #000; }

.desc,
.asc {
  position: relative;
  cursor: pointer; }

.desc:after,
.asc:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 7px solid transparent;
  border-top-color: #fff; }

.asc:after {
  border-top-color: transparent;
  border-bottom-color: #fff;
  top: -7px; }

.login-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2b3643;
  z-index: 9999; }

.login-form {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-form button {
  width: 100%; }

.login-form input {
  margin: 15px 0; }

.login-form h2 {
  color: #fff; }

[type="button"] {
  width: 100%; }

label {
  min-height: 15px;
  position: relative; }

.page-content-wrapper .page-content {
  min-height: 850px !important;
  background: #f1f3fa; }

.display-page-select {
  width: 66px !important;
  margin-bottom: 20px;
  float: right; }

body {
  background-color: #364150; }

.fl {
  float: left; }

.w100 {
  width: 100%; }

option {
  padding: 6px 0; }

/*.multiSelect .checkboxLayer {
    display: block !important;
}

.multiSelect>button {
    display: none;
}

.helperButton:nth-child(1) {
    display: none !important;
}
*/
.check-box:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbdbd;
  background-color: #fff;
  left: 5px;
  top: 50%;
  transform: translateY(-50%); }

input[type="checkbox"]:checked + .check-box:after {
  background: #fff url("../img/checked.png") no-repeat -1px -1px; }

.tabs .btns .active {
  background-color: #fff; }

.tabs .btns {
  width: 36%;
  float: left; }

.tab-content {
  width: 64%;
  float: left;
  background-color: #fff;
  padding: 10px; }
  .tab-content h3 {
    margin-top: 0; }

.tab {
  border: 1px solid #fff; }
  .tab label {
    margin-bottom: 0; }
  .tab .label-text {
    margin-left: 30px;
    line-height: 16px;
    margin-bottom: 0;
    font-size: 12px; }

select[multiple] {
  height: 317px; }

.btn-primary {
  background-color: #2b3643; }
  .btn-primary:hover {
    background-color: #364150; }

/* mo-style */
a {
  color: #1caf9a; }

.tabs {
  margin-bottom: 15px; }

.tab label {
  display: table-cell;
  vertical-align: middle;
  height: 37px;
  padding: 2px 0; }

.as-label {
  margin-bottom: 5px; }

input[type=radio].add-partner-radio {
  margin-right: 15px;
  vertical-align: top; }

/*styles for table-scheme1*/
.table-scheme1 .mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]):checked ~ span,
.table-scheme1 .mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]) ~ span,
.table-scheme1 .mt-checkbox.mt-checkbox-outline > input:checked ~ span,
.table-scheme1 .mt-checkbox.mt-checkbox-outline > input:focus ~ span,
.table-scheme1 .mt-checkbox.mt-checkbox-outline > span {
  background: #fff; }

.table-scheme1 .sorting_disabled .mt-checkbox > span {
  background: #868d96; }

.table-scheme1 .mt-checkbox,
.table-scheme1 .mt-radio {
  margin-bottom: 0; }

.table-scheme1.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f2f3fb; }

.table-scheme1 a {
  text-decoration: underline; }

.table-scheme1 a:hover {
  text-decoration: none; }

.table-scheme1 > tbody > tr > th:first-child {
  border-left: 0; }

.table-scheme1 > tbody > tr > th {
  background: #2b3643;
  color: #fff;
  font-weight: normal;
  border-left: 1px solid #fff; }

.table-scheme1 > tbody > tr > td:first-child {
  border-left: 0; }

.table-scheme1 > tbody > tr > td {
  padding: 9px;
  border-top: 0;
  border-left: 1px solid #d3d3d3;
  font-size: 12px; }

.text-success {
  color: #464849; }

.text-danger {
  color: #fc0404; }

/* datatable style */
.dataTable_wrapper-head {
  overflow: hidden; }

.dataTables_wrapper .dataTables_paginate {
  float: left; }

div.dataTables_wrapper div.dataTables_info {
  padding-top: 4px; }

.dataTables_extended_wrapper .table.dataTable {
  margin: 5px 0 !important; }

table.dataTable.table-scheme1 thead > tr {
  background: #364150; }

table.dataTable.table-scheme1 thead > tr > th {
  padding: 20px 9px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  white-space: nowrap; }

table.dataTable.table-scheme1 thead .sorting {
  background: #364150 url("../img/ico-sorting01.png") no-repeat 50% 3px; }

table.dataTable.table-scheme1 thead .sorting_asc {
  background: #364150 url("../img/ico-sorting02.png") no-repeat 50% 3px; }

table.dataTable.table-scheme1 thead .sorting_desc {
  background: #364150 url("../img/ico-sorting02-revert.png") no-repeat 50% 3px; }

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  background: #364150;
  color: #fff; }

.pagination > li > a,
.pagination > li > span {
  color: #364150; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border: 1px solid #364150;
  background: #fff;
  color: #000; }
