<div ng-controller="addPartnerCtrl">
    <div class="col-sm-12">
        <h3>Add Partner</h3>
        <br>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Country</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <label>Post Code</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-sm-7">
                <label>City</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="form-group col-sm-7">
                <label>Building Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-sm-5">
                <label>Building Number</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Director Name</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
				</span>
                <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
            </div>
        </div>
        <div class="form-group">
            <label>Share holder/Owner</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Regulated Licence (FCA)</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-sm-6">
                <label>Expiry Date of Licence</label>
                <input type="text" class="form-control">
                <!-- <pre>{{dt | date:'fullDate' }}</pre> -->
                <!-- <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span></p> -->
            </div>

            <div class="form-group col-sm-12">
                <label>URL Company Address</label>
                <input type="text" class="form-control" placeholder="https://">
            </div>

            <div class="form-group col-sm-6">
                <label></label>
                <button class="btn btn-primary w100">Add</button>
            </div>
            <div class="form-group col-sm-6">
                <label></label>
                <button class="btn btn-primary w100">Cancel</button>
            </div>
        </div>
    </div>



    <div class="col-md-5">
        <div class="tabs clearfix">
            <div>Services</div>

            <div class="btns">
                <div ng-repeat="tab in tabs" ng-click="toggleTab($index)" class="tab" ng-class="{'active' : tab.active}">
                    <label>
                        <input type="checkbox" hidden ng-model="tab.checked">
                        <span class="check-box"></span>
                        <p class="label-text">{{tab.text}} </p>
                    </label>
                </div>
            </div>

            <div class="tab-content" ng-repeat="tab in tabs" ng-show="tab.active">
                <!--<h3>{{tab.text}}</h3>-->
                <div>
                    <label>
                        <input type="radio" name="{{tab.name}}" ng-model="tab.internal" value="true" class="add-partner-radio">Internal
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="{{tab.name}}" ng-model="tab.internal" value="false" class="add-partner-radio">External
                    </label>
                </div>
                <br>
                <div class="internal" ng-show="tab.internal == 'true'">
                    <div class="form-group">
                        <label>API Address</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>URL Address</label>
                        <input type="text" class="form-control" placeholder="https://">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="internal" ng-show="tab.internal == 'false'">
                    <h1>We will contact you</h1>
                </div>
            </div>

        </div>
    </div>






    <div class="col-md-3">
        <div>Currancy</div>
        <div class="row">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>

        <select class="form-control" ng-multiple="expression" multiple="true" ng-scrollbars ng-scrollbars-config="config">
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
            <option>GBP, United Kingdom</option>
        </select>
        <!-- <div ng-scrollbars ng-scrollbars-config="config"> .... </div> -->
        <!-- <div isteven-multi-select input-model="modernBrowsers" output-model="outputBrowsers" button-label="name" item-label="name maker" tick-property="ticked"> -->
    </div>
</div>