<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Logs Page</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> Logs Page</h3>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-sm-12">
        <p>Filter</p>
    </div>
</div>

<!-- forms block -->
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Date Created</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Method</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="text-nowrap">Internal Description</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Status</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Reason</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Service Provider</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <label class="invisible">Search</label>
        <button class="btn btn-primary w100">Search</button>
    </div>
</div>
<br>

<!-- logs table -->
<div class="row" ng-controller="LogsController">
    <div class="col-sm-12">
        <div class="col-sm-6">525 Logs</div>
        <div class="col-sm-6 text-right">
            <label for="logs">
                <small>Records Per Page</small>
            </label>
            <select id="logs">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive bs-componenet" ng-controller="logsTableController"> <!-- controller div -->
            <table class="table table-striped table-scheme1">
                <tr> <!-- tr with th-->
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>
                        <button class="arrow-sort arrow-sort--selected"><i class="fa fa-chevron-down"
                                                                           aria-hidden="true"></i></button>
                        ID
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Date Created
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Method
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Request/Response
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Internal Description
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        External Description
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Transaction Status
                    </th>
                    <th class="table-scheme1--head-reason">
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Reason
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Service Provider
                    </th>
                </tr>
                <tr ng-repeat="log in logs">
                    <td><input type="checkbox"></td>
                    <td>{{log.id}}</td>
                    <td class="text-nowrap">{{log.dateDay}} | <i>{{log.dateTime}}</i></td>
                    <td>{{log.method}}</td>
                    <td><a href="#">{{log.linkView}}</a></td>
                    <td>{{log.intDescr}}</td>
                    <td>{{log.extDescr}}</td>
                    <td>
                        <span ng-class="{'text-danger': log.transStatus === 'Failed', 'text-success': log.transStatus === 'Success'}">{{log.transStatus}}</span>
                    </td>
                    <td> {{log.reason}}</td>
                    <td class="text-uppercase">{{log.serviceProvider}}</td>
                </tr>
            </table>

            <!-- pagination -->
            <div class="pagination-wrap">
                <ul class="pagination">
                    <li ng-repeat="page in paginationList" ng-click="showPage(page.link)"
                        ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a>
                    </li>
                </ul>
            </div><!-- // pagination -->
        </div> <!-- // controller div -->
    </div>
</div><!-- // row -->

<!--pagination -->
<div ng-controller="PaginationDemoCtrl">
    <table class="table">
        <tr ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
            <td>{{row.name}}</td>
            <td>{{row.id}}</td>
        </tr>
    </table>
    View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.

    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
    <pre>The selected page no: {{currentPage}}</pre>
    <button class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>

    <hr />
    <h4>Pager</h4>
    <pager total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pager>

    <hr />
    <h4>Limit the maximum visible buttons</h4>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></pagination>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>

<!-- btns row -->
<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Export</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Print</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Resend</button>
    </div>
</div>
<br><br>