<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Manage Customers</span>
        </li>
    </ul>
</div>
<h3 class="page-title">Manage Customers</h3>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-sm-12">
        <p>Filter</p>
    </div>
</div>

<!-- forms block -->
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Type</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Customer Name</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Customer Number</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="text-nowrap">Chanel</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Status</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Account Manager</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label class="invisible">Search</label>
        <button class="btn btn-primary btn-block">Search</button>
    </div>
</div>
<br>
<!-- logs table -->
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">525 Logs</div>
        <div class="col-sm-6 text-right">
            <label for="logs">
                <small>Records Per Page</small>
            </label>
            <select id="logs">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive" ng-controller="logsTableController"> <!-- controller div -->
            <table class="table table-striped table-scheme1">
                <tr> <!-- tr with th-->
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>
                        <button class="arrow-sort arrow-sort--selected"><i class="fa fa-chevron-down"
                                                                           aria-hidden="true"></i></button>
                        ID
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Date Created
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Method
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Request/Response
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Internal Description
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        External Description
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Transaction Status
                    </th>
                    <th class="table-scheme1--head-reason">
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Reason
                    </th>
                    <th>
                        <button class="arrow-sort"><i class="fa fa-chevron-down"
                                                      aria-hidden="true"></i></button>
                        Service Provider
                    </th>
                </tr>
                <tr ng-repeat="log in logs">
                    <td><input type="checkbox"></td>
                    <td>{{log.id}}</td>
                    <td class="text-nowrap">{{log.dateDay}} | <i>{{log.dateTime}}</i></td>
                    <td>{{log.method}}</td>
                    <td><a href="#">{{log.linkView}}</a></td>
                    <td>{{log.intDescr}}</td>
                    <td>{{log.extDescr}}</td>
                    <td><span
                            ng-class="{'text-danger': log.transStatus === 'Failed', 'text-success': log.transStatus === 'Success'}">{{log.transStatus}}</span>
                    </td>
                    <td> {{log.reason}}</td>
                    <td class="text-uppercase">{{log.serviceProvider}}</td>
                </tr>
            </table>

            <!-- pagination -->
            <!-- // pagination -->
        </div> <!-- // controller div -->
    </div>
</div><!-- // row -->

<!-- btns row -->
<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Export</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Print</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Resend</button>
    </div>
</div>
<br><br>