<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Logs Page</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> Logs </h3>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-sm-12">
        <p>Filter</p>
    </div>
</div>

<!-- forms block -->
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Date Created</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Method</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="text-nowrap">Internal Description</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Status</label>
            <select class="form-control">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Reason</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Service Provider</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-2">
        <label class="invisible">Search</label>
        <button class="btn btn-primary w100">Search</button>
    </div>
</div>
<br>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="aaaatable-responsive"> <!-- controller div -->
           <!-- <div ng-controller="logsTableController as showCase">
                <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
            </div>-->
            {{user}}
            <div ng-controller="logsTableController as showCase">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" id="logs_table" class="table-scheme1 table-striped row-border hover">
                    <thead>
                    <tr>
                        <th>
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input type="checkbox" ng-model="checkboxSwitcher" class="group-checkable" data-set="#logs_table .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th>ID</th>
                        <th>Date Created</th>
                        <th>Method</th>
                        <th>Request/Response</th>
                        <th>Internal Description</th>
                        <th>External Description</th>
                        <th>Transaction Status</th>
                        <th>Reason</th>
                        <th>Service Provider</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in showCase.logs">
                        <td>
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input ng-checked="checkboxSwitcher" type="checkbox" class="checkboxes" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{ log.id }}</td>
                        <td><span class="text-nowrap">{{ log.dayCreated }} | <i>{{log.timeCreated}}</i></span></td>
                        <td>{{ log.methodCreating }}</td>
                        <td><a href="#">{{ log.requestResponse }}</a></td>
                        <td>{{ log.internalDescription }}</td>
                        <td>{{ log.externalDescription }}</td>
                        <td>
                            <span ng-class="{'text-danger': log.transactionStatus === 'Failed', 'text-success': log.transactionStatus === 'Success'}">{{log.transactionStatus}}</span>
                        </td>
                        <td>{{ log.reasonMsg }}</td>
                        <td><span class="text-uppercase">{{ log.serviceProvider }}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!--            <table class="table table-striped table-bordered table-hover table-checkable order-column table-scheme1" id="logs_table">
                <thead>
                    <tr>
                        <th data-num="1">
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input type="checkbox" class="group-checkable" data-set="#logs_table .checkboxes"/>
                                <span></span>
                            </label>
                        </th>
                        <th data-num="2"> ID</th>
                        <th data-num="3"> Date Created</th>
                        <th data-num="4"> Method</th>
                        <th data-num="5"> Request/Response</th>
                        <th data-num="6"> Internal Description</th>
                        <th data-num="7"> External Description</th>
                        <th data-num="8"> Transaction Status</th>
                        <th data-num="9"> Reason</th>
                        <th data-num="10"> Service Provider</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="log in logs">
                        <td>
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input type="checkbox" class="checkboxes" value="1"/>
                                <span></span>
                            </label>
                        </td>
                        <td>{{log.id}}</td>
                        <td class="text-nowrap">{{log.dateDay}} | <i>{{log.dateTime}}</i></td>
                        <td>{{log.method}}</td>
                        <td><a href="#">{{log.linkView}}</a></td>
                        <td>{{log.intDescr}}</td>
                        <td>{{log.extDescr}}</td>
                        <td><span
                                ng-class="{'text-danger': log.transStatus === 'Failed', 'text-success': log.transStatus === 'Success'}">{{log.transStatus}}</span>
                        </td>
                        <td> {{log.reason}}</td>
                        <td class="text-uppercase">{{log.serviceProvider}}</td>
                    </tr>
                </tbody>
            </table>-->

        </div> <!-- // table-responsive -->
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<br>
<!-- btns row -->
<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Export</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Print</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block">Resend</button>
    </div>
</div>
<br><br>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    TableDatatablesManaged.init();
</script>
<!-- END MAIN JS -->